@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }
}
@layer utilities {
  .text-clamp-xs {
    font-size: clamp(0.625rem, 2vw, 1rem); /* Маленький текст */
  }
  .text-clamp-sm {
    font-size: clamp(0.875rem, 2vw, 1.25rem); /* Маленький текст */
  }
  .text-clamp-md {
    font-size: clamp(1rem, 2.5vw, 1.75rem); /* Средний текст */
  }
  .text-clamp-lg {
    font-size: clamp(1.25rem, 3vw, 2.25rem); /* Большой текст */
  }
  .text-clamp-xl {
    font-size: clamp(1.5rem, 4vw, 3rem); /* Очень большой текст */
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
